<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <title>Sparks Bank</title>
</head>
<body class="bg-info">
<!-- As a heading -->
<div class="bg-dark">
   
<nav class="navbar navbar-expand-lg navbar-light bg-dark container" >
  <a class="navbar-brand text-white"><span class="sparks-heading">Sparks</span> Bank</a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">s</span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link text-white" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/transactions">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white" href="/moneytransfer">Send($)</a>
      </li>
    </ul>
  </div>
</nav>
</div>
</body>
</body>
</html>
